.cart {
    max-width: 800px;
    margin: 200px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.cartMessage{
    font-size: 11px;
}

h1 {
    text-align: center;
    color: #333;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

.cart-item img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 20px;
}

.product-details {
    flex-grow: 1;
}


.remove-button {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.remove-button:hover {
    background-color: #cc0000;
}

.cart-total {
    display: flex;
    justify-content: end;
    flex-direction: column;
    row-gap: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.checkout-button {
    display: block;
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.checkout-button:hover {
    background-color: #0055aa;
}
.nice-number-input {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    width: 50px;
}

/* Add some hover and focus effects for better interactivity */
.nice-number-input:hover,
.nice-number-input:focus {
    border-color: #e74c3c;
    box-shadow: 0 0 5px #e74c3c;
}
.qty{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.cartEmptyContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 200px 0px;
}
.cartEmpty{
    font-size: 30px;
    color: #333;
    font-weight: 600;
}
.homeButton {
    background-color: #ffd200; /* Button background color */
    color: #533e34; /* Text color */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* Remove the border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 1s; /* Smooth color transition on hover */
    text-decoration: none;
    font-weight: 600;
}
/* Add some hover effect */
.homeButton:hover {
     color: red /* Slightly darker color on hover */
 }
.discountText{
    display: flex;
    column-gap: 5px;
    justify-content: end;
}
.total, .percent, .amount{
    display: flex;
    justify-content: end;
}
.amountWrap{
    display: flex;
    column-gap: 5px;
    justify-content: end;
}
@media only screen and (max-width: 1200px){
   .cart{
       margin: 40px auto;
       border-radius: 0;
   }
    .product-details h2{
        font-size: 16px;
    }
    .remove-button{
        font-size: 10px;
    }
}
