.dashboardContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}
.dashboardSection{
    margin-top: 50px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 70%;
    padding: 40px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}
.side-menu {
    background-color: #ffffff;
    flex: 1;
    padding: 20px;
    transition: transform 0.3s;
    transform: translateX(0);
}

.logo img {
    max-width: 100%;
}

.menu-items {
    list-style: none;
    padding: 0;
}

.menu-items li {
    margin-bottom: 10px;
}

.menu-items a {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 20px;
    padding: 10px;
}
.menu-items a:hover{
    background: #6b7280;
    border-radius: 3px;
    color: white;
}
.content {
    flex: 11;
    padding: 20px;
    background-color: #f5f5f5;
}

.table-container {
    width: 95%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.custom-table th, .custom-table td {
    padding: 10px;
}

.custom-table th {
    background-color: #2fc736;
    color: #fff;
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-table tr:hover {
    background-color: #c2e2ff;
    transition: 0.2s;
}
.tableIcon{
    width: 50px;
}
#local{
    width: 34px;
}
.doubleRow{
    display: flex;
    column-gap: 20px;
    width: 100%;
}
.profileFormItem{
    width: 50%;
}
.profileForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.profileForm input{
    height: 35px;
}
#phone{
    width: 100%;
}
.profileFormItemSingle{
    width: 100%;
}
.buttonProfileSave{
    width: 130px;
    height: 45px;
    background: #2fc736;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
@media only screen and (max-width: 1200px){
   .dashboardSection{
       width: 100%;
       border-radius: 0px;
       padding: 40px 0px;
       flex-direction: column;
   }
    .hideOnMobile{
        display: none;
    }
}
