*{
    font-family: 'Museo Sans Rounded', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: #e4dfdb;
}
.upperNav{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    align-items: center;
}
.upperNavWrapper{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftUpperNav{
    display: flex;
    column-gap: 50px;
    color: #c1b5b4;
    align-items: center;
}
.languages{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.languagesMobile{
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    color: white;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.social img{
    width: 30px;
    cursor: pointer;
}
.languageItem{
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}
.upperMenuActive{
    color: #533e34;
}
.upperMenuActiveMobile{
    color: red;
}
.languageItem:hover{
    color: red;
}
.country{
    font-size: 20px;
}
.login{
    transition: 1s;
    color: #533e34;
}
.login:hover{
    color: red;
}
.smallCartText{
    /*color: #533e34;*/
}
.rightUpperNav{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.smallCartUpper{
    font-size: 16px;
    color: #533e34;
    display: flex;
    align-items: center;
    background: #ffd200;
    padding: 5px 20px;
    column-gap: 5px;
    cursor: pointer;
    transition: 1s;
}
.smallCartUpper:hover{
    color: red;
}
.cartUpper{
    width: 25px;
}
.smallOrderAmount{
    font-weight: bold;
}
.mainMenu{
    width: 100%;
    background: #584137;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.mainMenuWrapper{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.productStateHeader{
    display: flex;
    column-gap: 10px;
    height: 30px;
}
.frozenIcon{
    width: 20px;
    height: 20px;
}
.leftMainMenu{
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 19px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
}
.centerMainMenu{
    display: flex;
    justify-content: center;
}
.centerMainMenu img{
    width: 55%;
}
.imgPhoneDial{
    display: flex;
    justify-content: center;
}
.imgPhoneDial img{
    width: 60%;
}
.mainMenuContent{
    display: flex;
    flex-direction: column;
}
.rightMainMenu{
    display: flex;
}
.upperMainMenuContent{
    display: flex;
    column-gap: 5px;
}
.time{
    color: #d1aa2e;
}
.whiteText{
    color: white;
}
.preNumber{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.tel{
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}
.lowerMainMenuContent{

}
.menuItem{
    opacity: 0.7;
    padding-top: 5px;
}
.menuItem:hover{
    opacity: 1;
    border-top: 2px solid yellow;
}
.subMenu{
    position: absolute;
    background: #57322a;
    top: 40px;
    padding: 15px;
    border-radius: 5px;
    display: none;
    width: 300px;
    z-index: 10;
}
#menuDrop:hover .subMenu{
    display: block;
}
.submenuItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    column-gap: 10px;
}
.submenuItem a{
    color: white;
    text-decoration: none;
}
.rightArrowMenu{
    width: 20px;
}
.subCategoryMenu{
    line-height: 37px;
}
.sumbmenuItemKey{
    transition: 0.5s;
}
.sumbmenuItemKey:hover{
    color: #e66202;
}
.innerBanner{
    display: flex;
}
.bannerWrapper{
    width: 100%;

}
.bannerWrapper{
    position: relative;
    overflow: hidden;
}
.nextArrow{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 4;
}
.prevArrow{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 4;
}
.innerBanner{
    position: relative;
    transition: 1s;
}
.homeProductsSection{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.homeProductsWrapper{
    display: flex;
    width: 70%;
}
.homeCategoriesMenu{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 393px;
    position: relative;
    height: 100%;
}
.homeCategoriesMenuTitle{
    color: white;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 50px;
    cursor: pointer;
    padding: 15px;
    display: flex;
    align-items: center;
}
.innerBanner img{
    width: 100%;
}
.listCategories{
    display: flex;
    flex-direction: column;
}
.homeCategory{
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.homeProductsItems{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fixedMenu{
    background: #6d574d;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: sticky;
    position: -webkit-sticky;
    width: 270px;
    max-height: 950px;
    top: 10px;
}
.logoCategory{
    width: 40px;
}
.categoryWrap{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.detailsButton{
    font-size: 18px;
    color: #845f4d;
}
.fixedMenuItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.fixedMenuItem:hover{
    background: #533e34;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fixedMenuItem:hover .secondArrowMenu{
    display: flex;
}
.secondArrowMenu{
    display: none;
}
.homeProductsCategory{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.titleCategoryProducts{
    font-weight: 700;
    font-size: 30px;
    color: #533e34;
}
.titleContent{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.productCard{
    background: #fafafa;
    padding: 7px 0px;
    border-radius: 10px;
    cursor: pointer;
}
.productImg{
    width: 100%;
    height: 280px;
}
.productState{
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    color: #6d574d;
}
.productTitle{
    padding: 15px;
    color: #6d574d;
    font-size: 20px;
    font-weight: 600;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
}

.pagination li.active {
    background-color: #333;
    color: #fff;
}
.pagination li a{
    text-decoration: none;
    color: black;
}

.productLine{
    height: 1px;
    background: #6d574d;
    opacity: 0.4;
    padding: 0px 10px;
    width: 90%;
}
.lineContainer{
    display: flex;
    justify-content: center;
}
.priceContainer{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    cursor: pointer;
}
.cartImgProduct{
    width: 35px;
}
.price{
    font-size: 20px;
    color: #6d574d;
}
.cartAddProductContainer{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.priceFull{
    display: flex;
    justify-content: center;
    column-gap: 5px;
}
/*#fixedMenu{*/
/*    position: relative;*/
/*    transition: top 0.3s ease-in-out;*/
/*}*/

.infoSection{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
    background: white;
    margin-top: 100px;
}
.infoContainer{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 30px;
}
.footerSection{
    height: 200px;
    background: #584137;
}
.infoTitle{
    font-size: 24px;
    font-weight: 600;
}
.hrDiv{
    height: 200px;
    width: 1px;
    background: #6d574d;
    opacity: 0.2;
}
.info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.domik{
    width: 200px;
}
.infoContent{
    width: 250px;
    color: black;
}
.footerSection{
    display: flex;
    justify-content: center;
}
.footerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
}
.footerMenuRow{
    display: flex;
    justify-content: start;
    column-gap: 15px;
    color: white;
    font-size: 18px;
}
.footerSocial{
    display: flex;
    justify-content: center;
    column-gap: 15px;
}
.footerSocial img{
    width: 30px;
    cursor: pointer;
}
.footerSlogan{
    font-size: 24px;
    color: #ffd200;
}
.footerMenuElement{
    opacity: 0.7;
    cursor: pointer;
}
.footerMenuElement:hover{
    opacity: 1;
}
.swiper {
    width: 100%;
    height: 600px;
}
.cartAddProductContainer{
    border: none;
    cursor: pointer;
    background: #FAFAFA;
    color: #6d574d;
}
.clearLink{
    text-decoration: none;
}
.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff; /* Change the color as needed */
    margin-left: 5px;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

/* Rotate the arrow-down when submenu is active */
.has-dropdown.active .arrow-down {
    transform: rotate(180deg);
}

/* Adjust styles for the submenu */
.has-dropdown .submenu {
    display: none;
    top: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1; /* To ensure it's above other content */
}

.has-dropdown.active .submenu {
    display: block;
}

.has-dropdown .submenu li {
    margin: 0;
}

.has-dropdown .submenu a {
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.has-dropdown .submenu a:hover {
    background-color: #555; /* Change the background color on hover */
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    transition: 0.4s;
    z-index: 1200;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    margin: 10px 0;
}
.footerIcon{
    width: 100px;
}
.mobile-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1200px) {
    .infoSection{
        height: auto;
    }
   .infoContainer{
       width: 90%;
       flex-direction: column;
       align-items: center;
       row-gap: 50px;
       margin-bottom: 50px;
   }
   .hrDiv{
       display: none;
   }
   .footerSection{
       height: auto;
       padding-top: 50px;
       padding-bottom: 50px;
   }
    .footerContainer{
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
    .homeCategoriesMenu{
        display: none;
    }
    .products{
        grid-template-columns: 1fr;
    }
    .upperNav{
        display: none;
    }
    .leftMainMenu{
        display: none;
    }
    .rightMainMenu{
        display: none;
    }
    .swiperMobileNone{
        display: none;
    }
    .productImg{
        height: 227px;
    }
    .centerMainMenu img{
        width: 75%;
    }
    .menu-toggle {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1;
    }

    .mobile-menu.active {
        right: 0;
    }
    /* Add more responsive styles here as needed */
}
